{% extends 'layout.html' %}

{% set page = "Devices" %}

{% set show_active_probe = "true" if not config.getPeriodicDiscoveryEnabled() else "false" %}
{% set active_probe_hidden = "hidden" if config.getPeriodicDiscoveryEnabled() else "" %}
{% set users = config.getConfiguredUsers() %}

{% block content %}
<div class="modal fade" id="addDeviceDialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Device</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="post">
        <div class="modal-body">
          <input type="hidden" name="action" value="add" />
          <div class="form-group">
            <label for="macAddress">Mac Address</label>
            <input type="text" class="form-control" id="macAddress" name="mac" placeholder="Enter Mac Address" required/>
          </div>
          <div class="form-group">
            <label for="customName">Custom name</label>
            <input type="text" class="form-control" id="customName" name="custom_name" placeholder="A custom name for the device"/>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" name="trigger_activity" aria-describedby="userActivityHelp">
              Trigger User Activity
            </label>
            <small id="userActivityHelp2" class="form-text text-muted">When this device is active its user will be online.</small>
          </div>
          <div class="form-check {{ active_probe_hidden }}">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" name="active_ping" aria-describedby="activePingHelp">
              Active Probe
            </label>
            <small id="activePingHelp" class="form-text text-muted">Can send ARP requests to verify the device status.</small>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Add Device</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="editDeviceDialog" tabindex="-1" role="dialog" aria-labelledby="editDeviceLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editDeviceLabel">Edit Device <span id="macToEditPlaceholder"></span></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="post">
        <div class="modal-body">
          <input type="hidden" name="action" value="edit" />
          <input type="hidden" id="macToEdit" name="mac" />
          <div class="form-group">
            <label for="customName">Custom name</label>
            <input id="macToEdit_name" type="text" class="form-control" id="customName" name="custom_name" placeholder="A custom name for the device"/>
          </div>
          <div class="form-group">
            <label for="deviceUser">User</label>
            <select id="macToEdit_user" name="user" class="form-control">
              <option value="">Others</option>

              {% for user in users %}
                <option value="{{ user }}">{{ user }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input id="macToEdit_activity" type="checkbox" class="form-check-input" name="trigger_activity" aria-describedby="userActivityHelp2">
              Trigger User Activity
            </label>
            <small id="userActivityHelp" class="form-text text-muted">When this device is active its user will be online.</small>
          </div>
          <div class="form-check {{ active_probe_hidden }}">
            <label class="form-check-label">
              <input id="macToEdit_ping" type="checkbox" class="form-check-input" name="active_ping" aria-describedby="activePingHelp2">
              Active Probe
            </label>
            <small id="activePingHelp2" class="form-text text-muted">Can send ARP requests to verify the device status.</small>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Edit Device</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteDeviceDialog" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete Device</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="post">
        <div class="modal-body">
          <input type="hidden" name="action" value="delete" />
          <input type="hidden" id="macToDelete" name="mac" />
        
          Do you really want to delete device with mac "<span id="macToDeletePlaceholder"></span>"?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-danger">Delete Device</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="container">
  <div id="toolbar">
     <button class="btn btn-secondary" data-toggle="modal" data-target="#addDeviceDialog">Add Device</button>
  </div>

  <table id="devices-table"></table>
</div>

<script>
  function populateEditDialog(row) {
    $('#macToEditPlaceholder').html(row.mac);
    $('#macToEdit').val(row.mac);
    $('#macToEdit_name').val(row.name);
    $('#macToEdit_user').val(row.user == "Others" ? "" : row.user);
    $('#macToEdit_ping').prop('checked', row.active_ping);
    $('#macToEdit_activity').prop('checked', row.trigger_activity);
  }

  function populateDeleteDialog(row) {
    $('#macToDeletePlaceholder').html(row.mac);
    $('#macToDelete').val(row.mac);
  }

  $('#devices-table').netwatchTable({
    url: 'data/devices.json',
    columns: [{
      field: 'mac',
      title: 'Mac Address',
      sortable: true,
    }, {
      field: 'name',
      title: 'Custom Name',
      sortable: true,
    }, {
      title: 'User',
      field: 'user',
      sortable: true,
      formatter: function(value, row, index) {
        return (row.trigger_activity ? '<i class="fa fa-heartbeat fa-sm" title="Trigger User Activity"></i> ' : '') + row.user;
      }
    }, {
      field: 'active',
      title: 'Status',
      class: 'text-center',
      formatter: function(value, row, index) {
        return value=="true" ? `<span class="badge badge-success">Online</span>` : `<span class="badge badge-default">Offline</span>`;
      },
      sortable: true,
    }, {
      field: 'ip',
      title: 'Ip Address',
    }, {
      field: 'active_ping',
      title: 'Active Probe',
      class: 'text-center',
      visible: {{ show_active_probe }},
      formatter: function(value, row, index) {
        return value ? `<i class="fa fa-toggle-on"></i>` : `<i class="fa fa-toggle-off"></i>`;
      },
      sortable: true,
  }], actions: [{
    modal: "#editDeviceDialog",
    button: "btn-primary",
    icon: "fa-pencil",
    click: populateEditDialog,
  }, {
    modal: "#deleteDeviceDialog",
    button: "btn-danger",
    icon: "fa-trash",
    click: populateDeleteDialog,
  }],
 });
</script>
{% endblock %}
